extends ../layout

block content

	h1 Activate Your Account
	- var submit_path = "/user/" + input._id + "/activate/" + input.activationPad
	form(method="post", action=submit_path)
		input(type="hidden", name="_method", value="patch")
		+print-errors()
		ol
			li
				label(for="email") Email
				input(type="email", name="email", id="email", value=input.email)
			li
				label(for="password") Password
				input(type="password", name="password", id="name", value=input.name)
			li
				label(for="life") Stay logged in for:
				select(name="life")
					option(value="0C") Until Browser Close
					option(value="1D") A Day
					option(value="1W") A Week
					option(value="2W") Two Weeks
					option(value="1M") A Month
			li
				input(type="submit", class="positive", value="Activate and Log In")
